In [132]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [133]:
df = pd.read_csv('tlsa_1012.csv')
df.head()

,ser_no4,survey_year,adl_1,adl_2,adl_3,adl_4,adl_5,adl_6,age_at_survey,crt1,...,ps_7,ps_8,ps_9,sex,spmsq_score_sum_indicator,work_1,work_1_indicator,spmsq_score_sum,delta_spmsq,delta_spmsq_cate
0,10000VUN1,1999,0,0,0,0,0,0,66,19,...,0,0,0,2,1,0,1,9,1,increase
1,10000VUN1,2003,0,0,0,0,0,0,70,19,...,0,0,0,2,1,0,1,10,-1,decrease
2,10000VUN1,2007,0,0,0,0,0,0,74,19,...,0,0,0,2,1,0,1,9,0,maintain
3,10000VUN1,2011,0,0,0,0,0,0,78,19,...,0,0,0,2,1,0,1,9,0,maintain
4,1000fGX3,2003,0,0,0,0,0,0,75,3,...,0,0,0,1,1,1,1,10,0,maintain

In [134]:
columns = ['iadl_1', 'iadl_2', 'iadl_3', 'iadl_4', 'iadl_5', 'iadl_6', 'crt1', 'lifestyle_1', 'lifestyle_2', 'lifestyle_3', 'lifestyle_4', 'lifestyle_5', 'lifestyle_6', 'lifestyle_7', 'lifestyle_8', 'lifestyle_9', 'lifestyle_10', 'spmsq_score_sum', 'delta_spmsq', 'delta_spmsq_cate']
research_df = df[columns]
research_df

,iadl_1,iadl_2,iadl_3,iadl_4,iadl_5,iadl_6,crt1,lifestyle_1,lifestyle_2,lifestyle_3,lifestyle_4,lifestyle_5,lifestyle_6,lifestyle_7,lifestyle_8,lifestyle_9,lifestyle_10,spmsq_score_sum,delta_spmsq,delta_spmsq_cate
0,0,0,0,0,0,0,19,4,0,0,0,4,0,4,0,0,2,9,1,increase
1,0,0,0,0,0,0,19,4,4,4,0,3,0,4,0,0,3,10,-1,decrease
2,0,0,0,0,0,0,19,4,0,0,0,4,4,4,0,0,2,9,0,maintain
3,0,0,0,0,0,0,19,4,0,0,0,0,0,4,4,3,2,9,0,maintain
4,0,0,0,3,0,0,3,4,0,4,0,0,0,4,0,0,2,10,0,maintain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13084,0,0,1,1,0,0,18,4,0,4,3,4,4,0,0,0,4,10,-1,decrease
13085,0,0,0,0,0,0,19,4,4,0,4,4,0,4,0,0,3,10,0,maintain
13086,0,0,0,0,0,0,19,4,4,0,3,4,4,4,0,0,3,10,0,maintain
13087,0,0,0,2,0,0,19,4,4,3,0,4,4,4,0,0,2,10,0,maintain
13088,3,3,3,3,3,3,19,4,0,0,0,0,0,0,0,4,4,10,0,maintain

In [135]:
research_df['iadl_score_sum'] = df.loc[:, ['iadl_1', 'iadl_2', 'iadl_3', 'iadl_4', 'iadl_5', 'iadl_6']].sum(axis=1)
research_df['dep_score_sum'] = df.loc[:, ['dep_1', 'dep_2', 'dep_3', 'dep_4', 'dep_5', 'dep_6', 'dep_7', 'dep_8']].sum(axis=1)
research_df

/var/folders/lj/95_d1tbd1tj4w8y9j11c2l5w0000gn/T/ipykernel_4048/3579871426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  research_df['iadl_score_sum'] = df.loc[:, ['iadl_1', 'iadl_2', 'iadl_3', 'iadl_4', 'iadl_5', 'iadl_6']].sum(axis=1)
/var/folders/lj/95_d1tbd1tj4w8y9j11c2l5w0000gn/T/ipykernel_4048/3579871426.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  research_df['dep_score_sum'] = df.loc[:, ['dep_1', 'dep_2', 'dep_3', 'dep_4', 'dep_5', 'dep_6', 'dep_7', 'dep_8']].sum(axis=1)

,iadl_1,iadl_2,iadl_3,iadl_4,iadl_5,iadl_6,crt1,lifestyle_1,lifestyle_2,lifestyle_3,...,lifestyle_6,lifestyle_7,lifestyle_8,lifestyle_9,lifestyle_10,spmsq_score_sum,delta_spmsq,delta_spmsq_cate,iadl_score_sum,dep_score_sum
0,0,0,0,0,0,0,19,4,0,0,...,0,4,0,0,2,9,1,increase,0,0
1,0,0,0,0,0,0,19,4,4,4,...,0,4,0,0,3,10,-1,decrease,0,0
2,0,0,0,0,0,0,19,4,0,0,...,4,4,0,0,2,9,0,maintain,0,0
3,0,0,0,0,0,0,19,4,0,0,...,0,4,4,3,2,9,0,maintain,0,1
4,0,0,0,3,0,0,3,4,0,4,...,0,4,0,0,2,10,0,maintain,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13084,0,0,1,1,0,0,18,4,0,4,...,4,0,0,0,4,10,-1,decrease,2,3
13085,0,0,0,0,0,0,19,4,4,0,...,0,4,0,0,3,10,0,maintain,0,0
13086,0,0,0,0,0,0,19,4,4,0,...,4,4,0,0,3,10,0,maintain,0,0
13087,0,0,0,2,0,0,19,4,4,3,...,4,4,0,0,2,10,0,maintain,2,4
13088,3,3,3,3,3,3,19,4,0,0,...,0,0,0,4,4,10,0,maintain,18,0

In [136]:
research_df.isnull().sum()

iadl_1              0
iadl_2              0
iadl_3              0
iadl_4              0
iadl_5              0
iadl_6              0
crt1                0
lifestyle_1         0
lifestyle_2         0
lifestyle_3         0
lifestyle_4         0
lifestyle_5         0
lifestyle_6         0
lifestyle_7         0
lifestyle_8         0
lifestyle_9         0
lifestyle_10        0
spmsq_score_sum     0
delta_spmsq         0
delta_spmsq_cate    0
iadl_score_sum      0
dep_score_sum       0
dtype: int64

In [137]:
"""
H1: Difficulty in completing Instrumental Activities of Daily Living (IADL) 
and poor family relationships are positively correlated with the patient's depression

iadl presents difficulty in ...
iadl_1: Purchasing personal daily necessities
iadl_2: Managing finances
iadl_3: Taking car or train alone
iadl_4: Doing heavy work at home or nearby
iadl_5: Doing easy tasks such as sweeping, washing dishes, and taking out the garbage

family presents family relationship
family_1: You are living with these people (or you are living alone), are you satisfied with this arrangement?
family_2: Do you feel that you provide significant care or assistance to your family members or close friends?
family_3: The frequency of the patient's family members asking for his or her opinion when making decisions or discussing matters
family_4: The infrequency of the patient's family members complaining about the patient

group by crt1(current living address when sampling)
"""
model_formula_h1 = 'dep_score_sum ~ iadl_1 + iadl_2 + iadl_3 + iadl_4 + iadl_5 \
                + family_1 + family_2 + family_3 + family_4'


# Fit the multilevel model
model_h1 = smf.mixedlm(model_formula, research_df, groups=research_df['crt1'])
result = model.fit()
print(result.summary())

/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2200: ConvergenceWarning: Retrying MixedLM optimization with lbfgs
  warnings.warn(
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2200: ConvergenceWarning: Retrying MixedLM optimization with cg
  warnings.warn(

          Mixed Linear Model Regression Results
=========================================================
Model:            MixedLM Dependent Variable: delta_spmsq
No. Observations: 13089   Method:             REML
No. Groups:       23      Scale:              2.1761
Min. group size:  1       Log-Likelihood:     -23735.6087
Max. group size:  1448    Converged:          No
Mean group size:  569.1
---------------------------------------------------------
               Coef.  Std.Err.   z    P>|z| [0.025 0.975]
---------------------------------------------------------
Intercept      -0.241    0.214 -1.124 0.261 -0.660  0.179
lifestyle_3     0.057    0.007  8.046 0.000  0.043  0.071
lifestyle_5     0.016    0.008  2.072 0.038  0.001  0.030
lifestyle_6     0.019    0.008  2.494 0.013  0.004  0.034
lifestyle_7    -0.024    0.007 -3.209 0.001 -0.038 -0.009
lifestyle_10   -0.043    0.017 -2.530 0.011 -0.077 -0.010
Group Var       0.955
=========================================================

/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2206: ConvergenceWarning: MixedLM optimization failed, trying a different optimizer may help.
  warnings.warn(msg, ConvergenceWarning)
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2218: ConvergenceWarning: Gradient optimization failed, |grad| = 31.303234
  warnings.warn(msg, ConvergenceWarning)
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2261: ConvergenceWarning: The Hessian matrix at the estimated parameter values is not positive definite.
  warnings.warn(msg, ConvergenceWarning)

In [138]:
"""
H2: Lower level of depression and the higher participation in diverse social activities 
and lifestyle are positively correlated with better â€‹â€‹development and mental state of patients

lifestyle_1: Watching television
lifestyle_2: Listening to radio/record player
lifestyle_3: Reading newspapers, magazines, books, or novels, etc.
lifestyle_4: Playing chess or card games (including Mahjong, å››è‰²ç‰Œ)
lifestyle_5: Chatting with relatives, friends, or neighbors, participating in senior citizens' tea gatherings
lifestyle_6: Gardening, arranging gardens, horticulture
lifestyle_7: Walking
lifestyle_8: Jogging, hiking, playing ball, and other individual outdoor fitness activities
lifestyle_9: Participating in group activities: such as concerts, dancing, å¤ªæ¥µ, æ°£åŠŸ, early morning exercises, or singing karaoke in group settings
lifestyle_10: Chanting, ç‡’é¦™, visiting temples, reading (holy) scriptures, praying, going to church

group by crt1(current living address when sampling)
"""

model_formula = 'spmsq_score_sum ~ dep_score_sum + lifestyle_1 + lifestyle_2 + lifestyle_3 + lifestyle_4 \
                + lifestyle_5 + lifestyle_6 + lifestyle_7 + lifestyle_8 + lifestyle_9 + lifestyle_10'


# Fit the multilevel model
model = smf.mixedlm(model_formula, research_df, groups=research_df['crt1'])
result = model.fit()
print(result.summary())

/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2200: ConvergenceWarning: Retrying MixedLM optimization with lbfgs
  warnings.warn(
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2200: ConvergenceWarning: Retrying MixedLM optimization with cg
  warnings.warn(

            Mixed Linear Model Regression Results
=============================================================
Model:            MixedLM Dependent Variable: spmsq_score_sum
No. Observations: 13089   Method:             REML
No. Groups:       23      Scale:              2.2604
Min. group size:  1       Log-Likelihood:     -24003.2325
Max. group size:  1448    Converged:          No
Mean group size:  569.1
-------------------------------------------------------------
                  Coef.  Std.Err.    z    P>|z| [0.025 0.975]
-------------------------------------------------------------
Intercept          8.451    0.225  37.591 0.000  8.010  8.891
dep_score_sum     -0.051    0.003 -16.122 0.000 -0.057 -0.045
lifestyle_1        0.252    0.019  13.510 0.000  0.216  0.289
lifestyle_2        0.053    0.007   7.108 0.000  0.038  0.068
lifestyle_3        0.162    0.008  21.216 0.000  0.147  0.177
lifestyle_4        0.073    0.015   4.822 0.000  0.043  0.103
lifestyle_5        0.027    0.008   3.370 0.001  0.011  0.042
lifestyle_6        0.046    0.008   5.778 0.000  0.030  0.062
lifestyle_7       -0.005    0.008  -0.625 0.532 -0.020  0.010
lifestyle_8        0.055    0.010   5.679 0.000  0.036  0.074
lifestyle_9        0.005    0.009   0.582 0.560 -0.013  0.024
lifestyle_10      -0.166    0.018  -9.490 0.000 -0.201 -0.132
Group Var          0.934
=============================================================

/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2206: ConvergenceWarning: MixedLM optimization failed, trying a different optimizer may help.
  warnings.warn(msg, ConvergenceWarning)
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2218: ConvergenceWarning: Gradient optimization failed, |grad| = 31.322037
  warnings.warn(msg, ConvergenceWarning)
/Users/joey/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/mixed_linear_model.py:2261: ConvergenceWarning: The Hessian matrix at the estimated parameter values is not positive definite.
  warnings.warn(msg, ConvergenceWarning)